.green {
    background-color: green !important;
}

.yellow {
    background-color: yellow !important;
}

.orange {
    background-color: orange !important;
}

.red {
    background-color: red !important;
}

.purple {
    background-color: purple !important;
}

.maroon {
    background-color: maroon !important;
}